@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap");

* {
  background-color: #212529;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* header left contents*/
section::after {
  height: 1px;
  background: #479cc7;
  content: "";
  margin: 0 auto;
}
.social-share-part ul {
  list-style: none;
  font-size: 20px;
  display: flex;
}
.social-share-part ul li {
  font-size: 35px;
  line-height: 30px;
  color: white;
  background-color: #22252a;
  border: 0.2px solid #666363;
  padding: 10px 12px;
  margin-right: 35px;
  border-radius: 5px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.social-share-part ul li:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}
.social-share-part {
  padding-top: 60px;
}
.words-wrapper {
  font-size: 48px;
}
/* header right image */
.thumbnail {
  border: 0.5px solid black;
  box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25),
    0 0.5em 1.25em rgba(0, 0, 0, 0.5);
}
.inner-img img {
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: pointer;
}

.thumbnail:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.4);
  margin-bottom: 40px;
}

/* heading top */
.heading-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

/* card design for portfolio*/

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.card {
  display: block;
  height: auto;
}
.card .image img {
  display: block;
  width: 95%;
  margin: 10px auto;
}
.card .image img:hover {
  transform: scale(1.4);
  transition: 0.4s ease-in-out;
}

/* wrapper show less */
.wrapper {
  width: 100%;

  background: #212529;
  padding: 20px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper ul {
  height: 70px;
  overflow: hidden;
}

.wrapper ul.active {
  height: auto;
}

.wrapper ul li {
  list-style: none;
  position: relative;
}

.wrapper ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #bfbfbf;
}

.wrapper .toggle_btn {
  margin-top: 15px;
  font-weight: 700;

  cursor: pointer;
  font-size: 15px;
}

.wrapper .toggle_btn.active .fas {
  transform: rotate(180deg);
}
